html {
  scroll-behavior: smooth;
}

body {
  background-color: hsl(240, 55%, 41%);
}

h1 {
  text-align: center;
}

.logo {
  color: hsl(347, 90%, 63%);
}

nav {
  display: flex;
  align-items: center;
  padding: 0 20px;
}

ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin-left: auto;
}

li {
  display: inline;
  padding: 8px;
}

a {
  color: white;
  text-decoration: none;
}
